---
// HowItWorks.astro
import { processSteps } from "../../data/process";
import Badge from "../ui/Badge.astro";
import HowItWorksCard from "./HowItWorksCard.astro";
---

<!-- How It Works Section -->
<section id="how-it-works" class="py-20 bg-background flex justify-center">
  <div class="container max-w-6xl px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center mb-12"
    >
      <div class="space-y-2">
        <Badge text="How It Works" />
        <h2 class="text-3xl font-bold tracking-tighter md:text-4xl/tight">
          Your pathway to efficient speech testing
        </h2>
        <p
          class="max-w-[900px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Streamline your workflow from data collection to analysis and
          reporting.
        </p>
      </div>
    </div>

    <div class="flex flex-col space-y-8 md:space-y-16">
      {
        processSteps.map((step) => (
          <HowItWorksCard
            number={step.number}
            title={step.title}
            highlightedTitle={step.highlightedTitle}
            features={step.features}
            screenshot={step.screenshot}
          />
        ))
      }
    </div>
  </div>
</section>
